.body {
  background-color: var(--tertiary-color)!important;
  color: var(--primary-color)!important;

}

/*  Text style  */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*  Logo nav  */
.logo-navbar-nav li a:hover, .logo-navbar-nav li.active a {
  color: var(--tertiary-color) !important;
  background-color: var(--primary-color) !important;
}

/*  Navbar  */ 
.navGuestBar{
  background-color: var(--tertiary-color);
}

.nav-tabs .nav-item .nav-link {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.nav-tabs .nav-item .nav-link.active{
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

/*  Footer  */

.footer-style{
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.footer-icon {
  color: var(--secondary-color);

}

/*  Botón general  */
.general-btn{
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

/*  Login */

.login-style{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/*  Register  */

.register-style{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh;
  }
}


/* ############################################################################## */
/* custom style */

.customFileLabelAvatar::after {
    content: "Avatar" !important;
}

.userImage {
    width: 35px;
    height: 35px;
}
.textFirstName,
.textLastName{
    font-family: "Roboto_Regular";
    font-size: 14px;
}

.displayNoneError{
    display: none;
}
.imgWelcome{
    max-width: 100px;
    max-height: 100px;
}

.countCart{
    border: 1px solid grey;
    width: 44px;
}

.colorLetter{
    color:var(--first-grey)!important;
}

.btnStyle1{
    background-color: var(--first-dark);
    color:var(--first-grey)!important;
}

/*Estilos formulario registro*/
.formBody{
    background-color: var(--first-grey);
}

.formBody label{
    color:var(--first-dark);
}

.btnStyle1:hover{
    background-color: var(--first-cream);
    color: var(--first-dark)!important;;
}

/*Estilos generales*/
  a{
      cursor: pointer;
      text-decoration: none;
  
  }
  
  
  
  ul{
    list-style:none!important;
  }

  .optionBar a{
    color:var(--first-grey);
   
    
  }
  
  .optionBar ul{
    background-color: var(--first-dark);
    color:var(--color-grey);
  }
  
  .opcionesRegistro a{
     color: var(--first-dark);
     
  }
  
  /*Inicio del código para mantener siempre el pie de página debajo
  Sacado de: 
  
  https://www.freecodecamp.org/espanol/news/como-mantener-tu-pie-de-pagina-donde-pertenece/
  
  */
  
  

  